<li class="item">
    <header class="pad-med">
        <h2>{{name}}</h2>
    </header>

    <main class="align-center">
        <img src="{{imageUrl}}" alt="room" class="img-thumb">
    </main>

    <footer class="align-center pad-med">
        <p>Location: <strong>{{city}}</strong></p>
        <p>Price: <strong>{{price}}$</strong></p>
        <a href="/catalog/{{id}}" class="action">See details</a>
    </footer>
</li>