<section id="catalog-section">
    {{#with room}}
    <h1 class="item">{{name}} - Details</h1>
    <div class="item padded">
        <main class="layout right large">

            <div class="col">
                <img src="{{imageUrl}}" alt="room" class="img-large">
            </div>

            <div class="content pad-med">
                <p><strong>Price per night: {{price}}$</strong></p>
                <p>{{description}}</p>

                <div class="align-center">
                    <div>
                        Price per night: <strong>{{price}}</strong>
                    </div>
                    <ul class="catalog">
                        {{#each facilities}}
                        <li>{{label}} <img src="{{iconUrl}}" class="facility-icon"></li>
                        {{/each}}
                    </ul>
                    {{#if isOwner}}
                    <a class="action" href="/room/{{_id}}/edit">Edit</a>
                    <a class="action" href="/facility/{{_id}}/decorateRoom">Facilities</a>
                    <a class="action" href="/room/{{_id}}/delete">Delete</a>
                    {{/if}}
                </div>
            </div>

        </main>
        <footer>Listed by TODO OWNER</footer>
    </div>
    {{/with}}
</section>
 